# backend
fastapi
uvicorn[standard]
httpx

# data processing and machine learning
numpy
pandas
fasttext-wheel
dask[dataframe]==2024.10.0
feast[mongodb]==0.63.0
# torch handled separately in Dockerfile to ensure GPU compatibility

accelerate==1.13.0
transformers==5.8.0

# Testing
pytest==9.0.3
