# backend
fastapi
uvicorn[standard]
httpx

# data processing and machine learning
fast-langdetect==1.0.1
numpy
pandas
feast[postgres]
# torch handled separately in Dockerfile to ensure GPU compatibility

transformers==5.8.0
